.vscode/
build/
build-aux/*
!build-aux/.gitkeep

# Totally legally acquired ROMs
roms/*
!roms/.gitkeep

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.DS_Store
*.in

m4/*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
missing
ltmain.sh
libtool
install-sh
Makefile
src/Makefile
include/Makefile

.deps